<div id="<%= dom_id crop %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= crop.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Growth stage:</strong>
    <%= crop.growth_stage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= crop.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Crop family:</strong>
    <%= crop.crop_family %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this crop", crop, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this crop", edit_crop_path(crop), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
