<div id="<%= dom_id field %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= field.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= field.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= field.location %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this field", field, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this field", edit_field_path(field), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
