<div class="font-archivo">
  <%= form_with(model: field, class: "contents") do |form| %>
    <% if field.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

        <ul>
          <% field.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :size %>
      <%= form.text_field :size, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :location %>
      <%= form.text_field :location, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= area_map [{geometry: {type: "Polygon"}}], zoom: 15, controls: true, tooltips: {html: true} %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-[20px] py-[12px] px-[32px] bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
